/* Room.css */
.fullscreen-video {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    z-index: 1; 
}
  
.small-video {
    width: 30vw;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
    border: 1px solid #ccc;
    z-index: 2; 
}



$skip-button-color: #3c2cd1; 

.skip-button {
  background-color: rgba($skip-button-color, 0.6); // Adjust the alpha (transparency) value as needed
  color: #000; 
  padding: 5px 10px;
  font-size: 25px;
  border: 1px solid black;
  border-radius: 8px; 
  cursor: pointer;
  
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba($skip-button-color, 0.7); // Adjust hover transparency
  }
}





  